
<!DOCTYPE html>
<html>
<head>
    <title>Contract Monthly Claim System</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div><strong>Contract Monthly Claim System</strong></div>
        <div>
            <!-- Navigation links will be injected here -->
            @Html.Partial("_Navigation")
        </div>
    </header>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer>
        <p>© 2025 Contract Monthly Claim System. All rights reserved.</p>
    </footer>
</body>
</html>
