        <nav>
            <ul style="list-style: none; display: flex; gap: 20px;">
                <li><a href="/Home/Index">Home</a></li>
                <li><a href="/Home/signup"> Sign up</a></li>
                <li><a href="/Home/logIn">Login</a></li>
                <li><a href="/Home/MoreInfo">More Info</a></li>
            </ul>
        </nav>


